* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    /*font-family: 'Beau Rivage', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Wix Madefor Text', sans-serif;*/
}


body {
    height: 100vh;
    background-image: url("spring-flowers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#open-btn {
    position: absolute;
    width: 430px;
    height: 170px;
    top: 20%;
    left: 5%;
    font-size: 13px;
    letter-spacing: 1px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
   /* background: transparent;*/
    border: solid 2px white;
    color: black;
    padding: 5px;
    box-shadow: 0 0 3px black; ;
    transition: .5s;

}

#open-btn:hover {
    background-color: rgb(231, 7, 145);
    color: black;
} 

#modal-box {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#modal {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: rgb(231, 7, 145);
    position: absolute;
    top: 70%;
    right: 10%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 150px;
    padding: 10px 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 13px;
    animation-name: Flower;
    animation-duration: .4s;
}

#close-btn {
    font-size: 30px;
    background-color: rgb(231, 7, 145);
    border: none;
}



