/*General Styles*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    /*font-family: 'Beau Rivage', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Wix Madefor Text', sans-serif;*/
}

body {
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 900px;
    text-align:center;
    background-image:  url(./waterfall-flowers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    /*display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;*/
    background-color: #69c0cf;
    text-align: center;
    padding: 20px 15px;
    margin: 160px;
    width: 470px;
    height: 280px;
    border-radius: 15px;
    box-shadow: 0 0 10px;
  }

 h2 {
    margin-bottom: 20px;
    color: #01090a;
    line-height: 1.5;
    letter-spacing: 2px;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
  }

  /*p{
    font-family: 'Wix Madefor Text', sans-serif;
  }*/

   .container .text {
    margin-top: 20px;
    color: black;
    /*letter-spacing: 1px;*/
    font-size: 15px;
    line-height: 1.5;
    text-transform: uppercase;
    font-family: 'Wix Madefor Text', sans-serif;
  }

.container .quote {
    height: 90px;
    margin-top: 5px;
  }

 .container .author {   
    font-size: 17px;
    color: black;
    text-transform: uppercase;
    padding-top: 30px;
    /*padding-bottom: 5px;*/
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
 }

  .button-area button{
    background-color: #1b5661;
    color: white;
    font-size: 15px;
    padding: 8px 13px;
    margin-top: 10px;
    border-radius: 5px;;
}

  .button-area button:active{
    background-color: #f09a97;
    display: none;
}*/

/* #next-quote:hover {
    background-color: #f56964;
}

 /*@media(max-width: 450px) {

  body {
 
    background-color: #e7b5b3;
    background-image:none;
  
}

.container {
  padding: 0 40%;
    
    background-color: #69c0cf;

    padding: 70px 75px;
    width:100%;
    height: 430px;
   
  }

  h2{
    font-size: 17px;
    margin-top: 20px;
    color: #01090a;
  }
  .container .text{
    font-size: 13px;
   
  }
 
 .container .author{
    font-size: 17px;
    color: black;
    text-transform: none;
    /*margin-top: 5px;*/
    /*padding-bottom: 10px;
    font-weight:lighter;
 }/*
.button button{
    background-color: #1b5661;
    color: white;
    font-size: 10px;
    padding: 8px 13px;
    margin-top: 5px;
    border-radius: 5px;;
}

.button button:active{
    background-color: #f09a97;
}
}
